#product-404{
    width:1200px;
    height:400px;
    position:relative;
}
@keyframes change{
    0%{transform: rotate(0deg)}
    50%{transform: rotate(180deg) scale(1.5)}
    100%{transform: rotate(-180deg) scale(1)}
}
#product-404>img{
    position: absolute;
    top:50%;
    left:50%;
    margin-left:-39px;
    margin-top:-57px;
    animation: change 1s linear; 
}
#product-404>h2{
    position: absolute;
    top:70%;
    left:50%;
    margin-left:-110px;
}