/*购物车样式*/
/*****购物车头部******/
#main .cart-head ul,#main .cart-count>ul{
    border-radius: 4px;
    border:1px solid #ddd;
    background:#eee;
}
#main .cart-head ul>li,#main .cart-item>ul>li{
    float:left;
    width:155px;
    padding:10px 0px;
    text-align: center;
    color:#333;
    overflow: hidden;
    box-sizing: border-box;
}

#main .cart-count>ul>li{
    float:left;
    width:170px;
    text-align: center;
    color:#333;
    overflow: hidden;
    box-sizing: border-box;
}
#main .cart-head ul>li:first-child,#main .cart-count>ul>li:first-child,#main .cart-item>ul>li:first-child{
    width:368px;
    text-align: left;
    padding-left:50px;
    box-sizing: border-box;
    
}
/******购物车底部*****/
#main .cart-count ul>li>a{
    font-size:12px;
    color: #393939;
    padding:2px 5px;
}
#main .cart-count>ul{
    line-height:67px;
}
#main .cart-count ul>li:last-child>button{
    outline:none;
    display: inline-block;
    padding:10px 25px;
    background:#f1c4c5;
    border:2px solid #ddd;
    border-radius: 5px;
    font-size:16px;
    font-weight:bold;
}
#main .cart-count>ul>li:first-child{
    margin-right: 10px;
}
/*********购物车商品***********/
#main .cart-item>ul{
    line-height: 80px;
    border:1px dotted #ddd;
}
#main .cart-item>ul>li{
    float:left;
    overflow: hidden;
    font-weight:bold;
    color: #666;
    font-size:14px;
}
#main .cart-item>ul>li:nth-child(4)>span{
    width:40px;
    display: inline-block;
    height:35px;
    line-height: 35px;
}
#main .cart-item>ul>li:nth-child(4)>button{
    width:33px;
    padding:8px;
}
#main .cart-item>ul>li:last-child>span{
    cursor:pointer;

}
#main .cart-item>ul>li>a:nth-child(2){
    display: inline-block;
    width:60px;
}
#main .cart-item>ul>li>a:last-child{
    display: inline-block;
    width:200px;
    height:20px;
    line-height:20px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    color:#393939;
}

#main .cart-item>ul>li:first-child>a>img{
    vertical-align: middle;
    width:50px;
}

/*********确认删除提示框************/
#confirm{
    width:300px;
    height:220px;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-110px;
    margin-left:-150px;
    z-index: 1999;
    border:1px solid #ccc;
    background:#fff;
    box-shadow: 0px 0px 5px #393939;
    display:none;
}
#confirm>a{
    display: inline-block;
    width: 65px;
    height:35px;
    /* border:1px solid red; */
    color:#c39329;
    background:#eee;
    text-align: center;
    line-height: 35px;
    margin:150px 40px;
    box-shadow: 0px 0px  3px #393939;
}
#confirm>span{
    width:220px;
    display: inline-block;
    position: absolute;
    top:30%;
    left:40px;
    
}
#mask{
    position: absolute;
    top:0;
    left:0;
    /* background: #333; */
    width: 100%;
    height:100%;
    display: none;
    z-index:1998;
}

/**************购物车没有商品提示*****************/
#cart .no{
    height:200px;
    text-align: center;
    font-size:20px;
    line-height: 200px;
    color:#c39329;
    font-family: "黑体";

}
#cart .no a{
    text-decoration: underline;
    font-size:18px;
}
