#main>p{
    color:#c39429;
    font-size:16px;
    font-weight:bold;
    
}
#main>p>span{
    font-family:"Embassy","mv boli";
    font-size:24px;
    font-weight: normal;   
}
#my-collect{
    width:1150px;
    overflow: hidden;
    background:#eee;
    margin:0 auto;
}
#my-collect .collect-item{
    float:left;
    margin:10px 0px 10px 11px;
    border:1px solid #c39429;
    width:215px;
    background:#fff;
    padding-bottom:10px;
    height:330px;
    box-sizing: border-box;
}
#my-collect .collect-item p{
    /* margin:5px 2.5px; */
    width:208px;
    margin:10px auto;
    text-align: center;
    color:#666;
    font-size:10px;
}
#my-collect .collect-item:hover{
    box-shadow: 0px 0px 4px  #c39429;
}
#my-collect .collect-item img{
    width:213px;
}
#my-collect .collect-item a{
    display: inline-block;
    border-radius: 3px;
    padding:2px 5px;
    margin:5px 10px;
    border-radius: 3px;
}
#my-collect .collect-item a:hover{
    box-shadow: 0px 0px 4px  #c39429;
}
#my-collect .collect-item a:nth-child(3){
    background:#fff;
    color:#c39429;
    margin-left:30px;
    border:1px solid #aaa;
}
#my-collect .collect-item a:last-child{
    background:#c39429;
    color:#fff;
}
