@font-face {
	font-family: "Embassy";
	font-style:  normal;
    font-weight: 400;
	src: url("../font/Embassy.ttf");
}
#footer{
    width:1200px;
    padding:0 90px;
    margin:0 auto;
    box-sizing: border-box;
}
#footer ul{
    width:300px;
    float:left;
    margin:0 20px;
}
#footer ul>li>a{
    display: inline-block;
    color:#000;
    font-weight:bold;
    width:280px;
    font-size:14px;
    padding:8px 10px;
}
#footer ul>li>a:hover{
    color:#FF8C7A;
}

#footer ul>li:first-child>a{
    border-bottom:2px solid #55504D;
}
#footer ul>li:first-child>a>span,
#footer ul:nth-child(2)>li:nth-child(3)>a>span,
#footer ul:nth-child(3)>li:last-child>a>span{
    font-family:"Embassy","mv boli";
    font-size:24px;
    font-weight: normal;
    
}
#footer ul>li>a>span{
    margin-right: 8px;
}
#footer ul>li~li>a{
    border-bottom: 1px solid #DBC8BD;
}
#footer ul:nth-child(2)>li:nth-child(3)>a,#footer ul:nth-child(3)>li:last-child>a{
    border-bottom:2px solid #55504D;
    padding-top:32px;
}
#footer ul:last-child{
    text-align: right;
    padding-top:40px;
    margin-left:20px;
}
#footer ul:last-child>li>img{
    vertical-align: middle;
}
#cright{
    width:100%;
    background:#000;
    height:35px;
}
#cright>h2{
    width:1200px;
    margin:0 auto;
    color:#e1e1e1;
    font-size:12px;
    font-weight: normal;
}
#cright>h2>:not(:first-child){
    padding-top:10px;
}
   
