/*********look-book商品的样式***********/
#main>p.nav{
    color:#c39429;
    font-size:16px;
    font-weight:bold;
    padding-bottom:20px;
    padding-top:10px;
    border-bottom:1px solid #ddd;
    margin-bottom:20px;
}
#main>p.nav>span{
    font-family:"Embassy","mv boli";
    font-size:24px;
    font-weight: normal;   
}
#main #lb-cool{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#main #lb-cool>a{
    display: inline-block;
    position: relative;
    margin-bottom:20px;
}
#main #lb-cool>a>img{
    width:275px;
    box-sizing: border-box;
    box-shadow: 0 0 8px 8px #ddd;
}
#main #lb-cool>a>img:hover{
    border:1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px #ddd;
}
/******设置遮罩层的样式***/
#main #lb-cool>a>div.details{
    width:274px;
    /* height:60px;  */
    position: absolute;
    /* border:1px solid red; */
    bottom:6px;
    left:0;
    background: rgba(0,0,0,0.5);
    text-align: center;
     display: none; 
}
#main #lb-cool>a>div.details>p{
    margin:10px 0;
    color:#fff;
    font-weight: bold;
}
#main #lb-cool>a>div.details>span{
    display: inline-block;
    padding:10px 15px 10px;
    margin-bottom:15px;
    background: #f1c4c5;
    border-radius:4px;
    color:#000;
    font-weight:bold;
}
/************查看详情--大图显示*****************/
#pop{
    width:700px;
    background: #fff;
    position: fixed;
    top:50%;
    margin-left:-350px;
    margin-top:-300px;
    left:50%;
    z-index: 2000;
    display: none;
    /* border:1px solid red; */
}
#pop>img{
    width:400px;
}
#pop>span{
    position: absolute;
    right:-24px;
    top:-24px;
    font-size:40px;
    width:50px;
    height:50px;
    color: #fff;
    text-align: center;
    line-height: 46px;
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
    background:rgba(0,0,0,0.9); 
}
#mask{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5); 
    z-index: 1999;
    display: none;
}
#pop>b{
    position:absolute;
    top:15%;
    right:25%;
    color:#c4952a;
}
#pop div.detail{
    width:350px;
    position: absolute;
    top:50%;
    right:5px;
    font-size:18px;
    color:#000;
    font-family: "微软雅黑";
    margin-top:-149px;
    margin-left:-200px;
}
#pop div.detail>p{

    font-size:18px;
    color:rgb(33, 97, 83);
    font-family: "微软雅黑";
    margin-top:15px;
}