#main{
    width:1200px;
    background:#fff;
    padding: 25px;
    box-sizing: border-box;
    margin:0 auto;
}
#main #products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#main #products>.desc{
    width:366px;
    border:1px solid #ddd;
    box-sizing: border-box;
    box-shadow: 0 0 8px 6px #ddd;
    margin-bottom:25px;
    padding-bottom:20px;
}
#main #products>.desc>a>img{
    margin-left:25px;
    margin-top:25px;
    width:314px;
    box-sizing: border-box;
    transition: all 0.5s linear;
}
/* #main #products>.desc>a>img:hover{
    border-radius: 5px;
    border: 1px solid #ddd;
    transform:scale(1.1);
} */
#main #products>.desc>a>img:hover{
    border-radius:22%;
    box-shadow: 0 0 8px 6px #ddd;
}
#main #products>.desc>a{
    border:1px solid transparent;
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
    width:366px;
    height:366px;
}

#main #products>.desc .details  p{
    color:#f78e90;
    font-weight: bold;
    text-align: center;
    margin:5px;
}
