/*********商品的样式***********/
#main #fashion_news{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#main #fashion_news>a{
    display: inline-block;
    position: relative;
}
#main #fashion_news>a>img{
    width:275px;
    box-sizing: border-box;
}
#main #fashion_news>a>img:hover{
    border:1px solid #e1e1e1;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px #ddd;
}
/******设置遮罩层的样式***/
#main #fashion_news>a>div.details{
    width:274px;
     /* height:60px;  */
    position: absolute;
    /* border:1px solid red; */
    bottom:6px;
    left:0;
    background: rgba(0,0,0,0.5);
    text-align: center;
    /* display: none; */
}
#main #fashion_news>a>div.details>p{
    margin:10px 0;
    color:#fff;
    font-weight: bold;
}
#main #fashion_news>a>div.details>span{
    display: inline-block;
    padding:10px 15px 10px;
    margin-bottom:15px;
    background: #f1c4c5;
    border-radius:4px;
    color:#000;
    font-weight:bold;
}

/******分页样式******/
#main  ul.pagenation{
/* border:1px solid red; */
width:200px;
margin:30px auto;
}
#main  ul.pagenation li{
    float:left;
    /* margin:10px 10px; */
    width:40px;
    height:40px;
    text-align: center;
    line-height: 40px;
    background: #f1c4c5;
    border-radius: 50%;
}
