#main .videoDiv{
    position: relative;

}
#main>.videoDiv video{
    width:1150px;
}
#main>.videoDiv>p{
    color:#c39429;
    font-size:16px;
    font-weight:bold;
    padding-bottom:20px;
    margin-bottom:20px;
    border-bottom:1px solid #ddd;
}
#main>.videoDiv>p>span{
    font-family:"Embassy","mv boli";
    font-size:24px;
    font-weight: normal;   
}
#main .control{
    width:50px;
    height:50px;
    background-image:url("../img/index/play.png");
    background-color:#c39429;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-26px;
    margin-top:5px;
    transition: all .5s linear;
}
.videoDiv .icon{
    text-align: right;
}
.videoDiv .icon i{
    width:19px;
    height:15px;
    display: inline-block;
    margin:0 5px;
}
.videoDiv .icon>:first-child{
    background-image: url("../img/fashion/ico_1.png");
}
.videoDiv .icon>:nth-child(3){
    background-image: url("../img/fashion/ico_2.png");
}
.videoDiv .icon span{
    font-family: Corbel;
    font-size:18px;
    display: inline-block;
    height:20px;
    width:30px;
    line-height: 20px;
    font-weight: bold;
}
